/* Ranade Light = 300 */
@font-face {
  font-family: 'Ranade';
  src: url('./Ranade-Light.woff2') format('woff2'), url('./Ranade-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Ranade Regular = 400 */
@font-face {
  font-family: 'Ranade';
  src: url('./Ranade-Regular.woff2') format('woff2'), url('./Ranade-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Ranade Bold = 700 */
@font-face {
  font-family: 'Ranade';
  src: url('./Ranade-Bold.woff2') format('woff2'), url('./Ranade-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
